<div class="form-group">
	<label for="question">Question</label>
	<input type="text" id="question" class="form-control" ng-model="cqCtrl.current.question">
</div>

<div class="form-group">
	<label for="correctAns">Answers</label>

	<input type="text" id="correctAns" placeholder="Correct answer" ng-model="cqCtrl.current.correctAnswer">
	<input type="text" placeholder="Wrong answer 1" ng-model="cqCtrl.current.choices[0]">
	<input type="text" placeholder="Wrong answer 2" ng-model="cqCtrl.current.choices[1]">
	<input type="text" placeholder="Wrong answer 3" ng-model="cqCtrl.current.choices[2]">
</div>

<a class="btn btn-info" ng-click="cqCtrl.appendToQuiz()">Add Question</a>
<a ng-click="cqCtrl.uploadQuiz()">Finish Quiz</a>