<div class="form-group">
	<label for="question">Question</label>
	<input type="text" name="question" id="question" class="form-control">
</div>

<div class="form-group">
	<label for="correctAns">Answers</label>
	<input type="text" name="correctAns" id="correctAns" placeholder="Correct answer">
	<input type="text" name="wrongAns1" placeholder="Wrong answer 1">
	<input type="text" name="wrongAns2" placeholder="Wrong answer 2">
	<input type="text" name="wrongAns3" placeholder="Wrong answer 3">
</div>