html,
body,
.container-fullwidth {
  height: 100%;
  background: #f5f7fb;
}
.container-fullwidth {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
.container-fullwidth a {
  text-decoration: none;
}
.container-fullwidth nav {
  background-color: #ffffff;
  border-color: #e3e6ec;
  border-radius: 0;
}
.container-fullwidth .main {
  padding: 0 15px;
}
.container-fullwidth .main ul.quizzes {
  width: 40%;
}
.container-fullwidth .main ul.quizzes a {
  text-decoration: none;
}
.container-fullwidth .main ul.quizzes a li {
  height: 105px;
  color: #000000;
  margin: 20px 0;
  padding: 10px 15px;
  border-color: #e3e6ec;
}
.container-fullwidth .main ul.quizzes a li:hover {
  background-color: #f5f5f5;
}
.container-fullwidth .main ul.quizzes a li .quizTitle {
  margin: 0;
  color: #22c1e8;
  margin-bottom: 5px;
}
.container-fullwidth .main ul.quizzes a li .quizDesc {
  color: gray;
  font-size: 16px;
}
.container-fullwidth .main ul.quizzes a li .quizAuthor {
  color: silver;
  font-style: italic;
  line-height: 40px;
  font-size: 16px;
}
.container-fullwidth .main .quiz .question-card {
  background-color: #ffffff;
  border: 1px solid #e3e6ec;
  border-radius: 3px;
  margin: 15px 0;
}
.container-fullwidth .main .quiz .question-card .title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 15px 10px;
}
.container-fullwidth .main .quiz .question-card .title .answer-status {
  margin-left: 12px;
}
.container-fullwidth .main .quiz .question-card .title.correct {
  background-color: #6ace87;
  color: #ffffff;
}
.container-fullwidth .main .quiz .question-card .title.incorrect {
  background-color: #ff7b7b;
  color: #ffffff;
}
.container-fullwidth .main .quiz .question-card .box-action-text {
  background-color: #f3f5f6;
  font-size: 14px;
  font-family: monospace;
  color: #657380;
  border-top: 1px solid #e3e6ec;
  margin-bottom: 0;
  padding: 15px;
}
.container-fullwidth .main .quiz .question-card .choice-row {
  padding: 15px;
  border-top: 1px solid #e3e6ec;
  cursor: pointer;
}
.container-fullwidth .main .quiz .question-card .choice-row:hover,
.container-fullwidth .main .quiz .question-card .choice-row.active {
  background-color: #f5f5f5;
}
.container-fullwidth .main .quiz .nextQuestion {
  background-color: #5cb4e7;
  color: #ffffff;
  border: none;
  margin-right: 15px;
  padding: 12px;
  border-radius: 3px;
  float: right;
}
.container-fullwidth .main .quiz .nextQuestion:disabled {
  background-color: #96cde6;
}
.container-fullwidth .main form input.ng-invalid.ng-touched,
.container-fullwidth .main form textarea.ng-invalid.ng-touched {
  border: 1px solid #dd1e31;
}
.container-fullwidth .main form .form-error {
  color: #dd1e31;
  font-family: Verdana;
}
.container-fullwidth .main pre {
  margin-top: 90px;
  clear: both;
}
