<div class="question-card">
	<h4 class="title">{{ pqCtrl.quiz.questions[pqCtrl.currentQuestionIndex].question }}</h4>

	<div class="choice-row" ng-repeat="choice in pqCtrl.quiz.questions[pqCtrl.currentQuestionIndex].choices track by $index" ng-click="pqCtrl.checkAnswer($index)">
		{{ choice }}
	</div>

	<button class="nextQuestion" ng-click="pqCtrl.nextQuestion()">Next question</button>
</div>

<pre>{{ pqCtrl.quiz.questions }}</pre>
<pre>Total questions: {{ pqCtrl.quiz.questions.length }}</pre>

<!-- <div class="answer-status correct" ng-if="quizCtrl.userCanAdvance"><span>&#x2714; Correct!</span> Good job</div>
<div class="answer-status wrong" ng-if="quizCtrl.wrongAnswer"><span>&#x2716; Sorry!</span> Try again</div> -->