@card-text-color: #000;
@card-hover-bgColor: #f5f5f5;
@form-error-text-color: #dd1e31;

.wrapper {
	ul.quizzes {
		a {
			&:hover {
				text-decoration: none;
			}

			li {
				margin: 0;
				padding: 10px 15px;
				color: @card-text-color;

				&:hover {
					background-color: @card-hover-bgColor;
				}

				h4 {
					margin: 0;
				}

				span {
					font-style: italic;
				}
			}
		}
	}

	form {
		input, textarea {
			&.ng-invalid.ng-touched {
				border: 1px solid @form-error-text-color;
			}
		}

		.form-error {
			color: @form-error-text-color;
			font-family: Verdana;
		}
	}
}